name: xvpn
description: Cross Platform Multi Protocol Proxy Frontend.
publish_to: "none"
version: 2.5.7+20507

environment:
  sdk: ">=3.3.0 <4.0.0"
  flutter: ">=3.24.0 <=3.24.3"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.6
  intl: ^0.19.0
  # humanizer: ^2.2.0
  # intl: ^0.19.0
  humanizer:
    git:
      url: https://github.com/alex-relov/humanizer
      ref: up-version
  # lucy_editor: ^1.0.5
  # re_highlight: ^0.0.3
  # json_editor_flutter: ^1.4.2
  slang: ^3.30.1
  slang_flutter: ^3.30.0
  fpdart: ^1.1.0
  freezed_annotation: ^2.4.1
  json_annotation: ^4.9.0
  hooks_riverpod: ^2.4.10
  flutter_hooks: ^0.20.5
  riverpod_annotation: ^2.3.4
  rxdart: ^0.27.7
  drift: ^2.16.0
  sqlite3_flutter_libs: ^0.5.24
  shared_preferences: ^2.2.2
  dio: ^5.4.1
  ffi: ^2.1.2
  path_provider: ^2.1.1
  mobile_scanner: ^5.1.1
  protocol_handler: ^0.2.0
  flutter_native_splash: ^2.3.10
  share_plus: ^7.2.2
  window_manager: ^0.3.8
  tray_manager: ^0.2.1
  package_info_plus: ^5.0.1
  url_launcher: ^6.2.5
  vclibs: ^0.1.2
  launch_at_startup: ^0.2.2
  sentry_flutter: ^7.16.1
  sentry_dart_plugin: ^1.7.1
  combine: ^0.5.7
  path: ^1.8.3
  loggy: ^2.0.3
  flutter_loggy: ^2.0.2
  meta: ^1.10.0
  dartx: ^1.2.0
  uuid: ^4.3.3
  tint: ^2.0.1
  accessibility_tools: ^1.0.1
  
  # core singbox wrapper
  hiddify_core:
    path: "./libcore"

  # ui
  go_router: ^14.0.2
  nested: ^1.0.0
  flutter_displaymode: ^0.6.0
  flex_color_scheme: ^7.3.1
  animations: ^2.0.11
  fluttertoast: ^8.2.4
  bot_toast: ^4.1.3

  # utils
  recase: ^4.1.0
  watcher: ^1.1.0
  file_picker: ^8.0.0+1
  qr_flutter: ^4.1.0
  table_calendar: ^3.0.9
  fl_chart: ^0.66.2
  in_app_review: ^2.0.8
  split_view: ^3.2.1
  google_fonts: ^6.1.0
  cached_network_image: ^3.3.1
  gap: ^3.0.1
  humanizer: ^2.2.0
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1
  build_runner: ^2.4.8
  riverpod_generator: ^2.3.10
  freezed: ^2.4.7
  json_serializable: ^6.7.1
  drift_dev: ^2.14.1
  slang_build_runner: ^3.30.0
  msix: ^3.16.6
  flutter_distributor: ^0.12.3

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/images/
    - assets/config/

flutter_native_splash:
  color: "#FFFBFE"
  color_dark: "#1C1B1F"
  image: assets/images/logo.png
  image_dark: assets/images/logo_dark.png
  android_12:
    color: "#FFFBFE"
    color_dark: "#1C1B1F"
    image: assets/images/logo.png
    image_dark: assets/images/logo_dark.png

msix:
  display_name: xvpn
  publisher_display_name: Merimok
  identity_name: 10538Merimok.xvpn
  msix_version: 2.5.7.0
  logo_path: assets\images\logo.png
  capabilities: internetClient,privateNetworkClientServer
  store: false
